body {
  font-family: "futura-pt", helvetica, sans-serif;
}

.entranceimage{
  background-image: url('http://townebarbers.net/images/img_59602.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.entrance{
  width:110px;
  height:40px;
  border: 4px solid #ffffff;
  text-align: center;
  margin: auto;
  color:#FFFFFF;
  letter-spacing:3px;
  font-size:25px;
  line-height:30px;
  font-family:'futura-pt', sans-serif;
  font-weight:700;
}

.entrance a:link{
  color: #ffffff;
}

.buttoncontainer{
  height: 100vh;
  position: relative;
}

.buttoncontainerpositioning{
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.main-logo{
  width: 198px;
  height: 72px;
  margin: 20px;
}

.main-nav-front{
  position: absolute;
  z-index: 2;
}
.main-nav-back{
  position: absolute;
  z-index: -1;
}

.main-nav-row{
  text-align: center;
  margin: 20px 20px 0;
  color: #ffffff;
  font-family: "futura-pt", helvetica, sans-serif;
}

.nav-zi-main{
  position: relative;
  z-index: 50000;
}

.main-nav-text{
  width: 100%;
  height: auto;
  padding: 10px;
  text-align: center;
  margin: 13px 0;
  color: #ffffff;
  font-family: "futura-pt", helvetica, sans-serif;
  font-size: 18px;
}

  .main-nav-text a{
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    margin: 13px 0;
    color: #ffffff;
    text-decoration: none;
    font-family: "futura-pt", helvetica, sans-serif;
  }

  .main-nav-text a:hover{
    color: blue;
    text-decoration: none;
  }

  .main-nav-text a:active{
    color: blue;
    text-decoration: none;
  }

.main-nav-font{
  width: 100%;
  height: auto;
  padding: 10px;
  text-align: center;
  margin: 10px 0;
  color: #ffffff;
  font-family: "futura-pt", helvetica, sans-serif;
  font-size: 18px;
}

.contact-border {
  width: auto;
  height: auto;
  border: 2px solid #ffffff;
  background: transparent;
  padding: 2px;
  text-align: center;
  margin: 10px 0;
  color: #ffffff;
  font-family: "futura-pt", helvetica, sans-serif;
  font-size: 18px;
  position: absolute;
  top: 8px;
  left: 20px;
}

.hor-rule{
  width: 100%;
  height: 1px;
  background-color: grey;
}

.main-content-top-spacer{
  padding: 120px 0 40px 0;
}

.main-content-bottom-spacer{
  padding: 40px 0 120px 0;
}

  .main-content p {
    font-size:17px;
    line-height:26px;
    font-family:"futura-pt", sans-serif;
    font-weight:400;
    color: #000000;
  }

  .main-content h1{
    font-size:30px;
    line-height:46px;
    color:#355BAA;
    font-family:"futura-pt", sans-serif;
    font-weight:700;
  }

  .main-content h2{
    font-size:20px;
    line-height:24px;
    letter-spacing:2px;
    font-family:"futura-pt", sans-serif;
    font-weight:500;
    color: #000000;
  }

.footer-main{
  background-color: #000000;
  padding: 35px;
}

.footer-text-main{
  font-size:13px;
  text-align: center;
  line-height:13px;
  letter-spacing:2px;
  padding-bottom:27px;
}

.footer-text-sub{
  font-size:10px;
  line-height:12px;
  letter-spacing:1px;
  padding-right:1px;
  padding-top:11px;
}
